# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Cursor
.cursor/

# Docker volumes data
ludoteca-mysql-data/

# Production secrets
#.env.production

# Archivos locales para Docker
docker-compose.yml
docker/*.env
docker/config/
.env
Dockerfile
database.php 
entrypoint.sh
nginx.conf