{$DOMAIN:localhost} {
    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /sanctum/* {
        reverse_proxy backend:8000
    }

    handle /storage/* {
        reverse_proxy backend:8000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
